.animate-charcter {
  display: inline-block;
  font-family: -apple-system, BlinkMacSystemFont, 'Fira Sans', 'Quantify', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Droid Sans', 'Helvetica Neue',
}

h1 span::before {
  content: '';

  animation: profile 10s infinite;
  position: absolute;
}

@keyframes profile {
  0% {
    content: 'UX Designer'
  }

  50% {
    content: 'Frontend Developer'
  }

  75% {
    content: 'Product Designer'
  }

  100% {
    content: 'UI Designer'
  }
}