/* color, font, text, 100% width, etc. */
.subheading {
  background-color: #0f2c3e;
  @apply flex w-full self-center relative;
  @apply font-sans text-base text-white text-center;
}
/* position: relative is required to keep spans with position: absolute inside .subheading */
/* make each span width 50% of .subheading's width */
.subheading span {
  @apply w-1/2 px-2;
}
/* this is needed to justify spans because they're being positioned absolutely */
.en.subheading {
  @apply justify-end;
}
/* overlap each .tech-adj one over the other so that each word fades in and out in its place and without displacing other spans */
.en.subheading .tech-adj:nth-child(-n + 4){
  position: absolute;
  left: 0;
}
/* hide the first 3 tech-adj */
.en.subheading .tech-adj:nth-child(-n + 3){
  opacity: 0;
}

/* Use opacity to achieve the fade-in/out effect. */
@keyframes changeText {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
/* Animate every .tech-adj every 8s infinitely */
.subheading .tech-adj {
  animation: changeText 8s infinite;
}
/* This is the "Beautiful" span and is the 1st to be animated after a 1 second delay */
.en.subheading .tech-adj:nth-child(4) {
  animation-delay: 1s;
}
/* This is the "Useful" span and is the 2nd to be animated after a 3 seconds delay */
.en.subheading .tech-adj:nth-child(3) {
  animation-delay: 3s;
}
/* This is the "Innovative" span and is the 3rd to be animated after a 5 seconds delay */
.en.subheading .tech-adj:nth-child(2) {
  animation-delay: 5s;
}
/* This is the Empowering" span and is the 4th to be animated after a 7 seconds delay */
.en.subheading .tech-adj:nth-child(1) {
  animation-delay: 7s;
}

.subheading .tech-adj {
  animation: changeText 8s cubic-bezier(1, -0.2, 1, -0.2) infinite;
}