.navImg {
  background-color: transparent;
  -webkit-box-shadow: 1px 7px 15px 18px rgba(0,0,0,0.6);
  -moz-box-shadow: 1px 7px 15px 18px rgba(0,0,0,0.6);
  box-shadow: 1px 7px 15px 18px rgba(0,0,0,0.6);
}